#oils-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
}

#products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}